<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recommend.css' %}">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="/">Kwiz Whiz</a>
            <span class="navbar-text">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text">
                    <a href="/logreg">Register</a>
                    <a href="/contact">Contact</a>
                    <a href="/media">Media</a>
                    <a href="/recommend">Recommendations</a>
                </span>
            </span>
        </div>
        </div>
    </nav>
  <!-- /NAVBAR -->
        <div class="row">
            <div class="col-6 px-3">
                <br>
                <br>
                <br>
                <h2>Register</h1>
                <form action="/register" method="post" id="register">
                    {% csrf_token %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    <div class="row mb-3">
                        <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="first_name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="last_name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="email">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="password" class="col-sm-2 col-form-label">Password <span>(must be at least 8 characters)</span></label>
                        <div class="col-sm-10">
                            <input id="pass_word" type="password" class="form-control" name="password">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="pw_conf" class="col-sm-2 col-form-label">Confirm
                            Password <span>(must match Password)</span></label>
                        <div class="col-sm-10">
                            <input id="pw_conf" type="password" class="form-control" name="pw_conf">
                        </div>
                    </div>
                    <button type="submit">Register</button>
                </form>
            </div>
            <div class="col-6 px-3">
                <br>
                <br>
                <br>
                <h2>Login</h2>
                <form action="/login" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="email">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="password">
                        </div>
                    </div>
                    <button type="submit" >Login</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
</body>

</html>