<!DOCTYPE html>
<html lang="en">

<head>
    <title>Take Kwiz Whiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="/">Kwiz Whiz</a>
            <span class="navbar-text">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text">
                    {% if request.session.count == 0 %}
                    <a href="/logout">Log out</a>
                    {% else %}
                    <a href="/dashboard">Dashboard</a>
                    <a href="/logout">Log out</a>
                    {% endif %}
                </span>
            </span>
        </div>
        </div>
    </nav>
  <!-- /NAVBAR -->
    <h1>Good luck with your {{quiz.title}} quiz, {{request.session.name}}!</h1>

    <div>
        <div>
            <form method="POST" action="/processquiz/{{quiz.id}}">
            {% csrf_token %}
            {% for question in quiz.questions.all %}
            <div><label for="question">{{question.title}}</label></div>
            <br>
                {% for answer in question.answers.all %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="html" name="answer-{{question.id}}" value="{{answer.answer_text}}">
                   <label class="form-check-label" for="html">{{answer.answer_text}}</label>
                </div>
                {% endfor %}
            <hr>
            {% endfor %}
            <input type="hidden" name="attempt" value="count">
            <button type="submit">Submit Quiz</button>
            </form>
        </div>


    </div>
</body>

</html>