
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Kwiz Whiz</title>
    {% load static %}
    <script>

    </script>
</head>
<body>
    <h1>Good luck with your {{quiz.title}} quiz, {{request.session.name}}!</h1>

    <div>
        <div>
            <form method="POST" action="/processquiz/{{quiz.id}}">
            {% csrf_token %}
            {% for question in quiz.questions.all %}
            <div><label for="question">{{question.title}}</label></div>
                {% for answer in question.answers.all %}
                  <input type="radio" id="html" name="answer-{{question.id}}" value="{{answer.answer_text}}">
                    <label for="html">{{answer.answer_text}}</label><br>
            <div class="row mb-3">
                {% endfor %}
            </div>
            <br>
            <hr>
            {% endfor %}
            <button type="submit">Submit Quiz</button>
            </form>
        </div>


    </div>

